<div id="app-pokemon">
  <app-search-bar (pokemonData)="onPokemonDataReceived($event)"></app-search-bar>

  @defer (when tousLesPokemonsBis$! | async) {
    <p>{{ nombreTotalDePokemons }} pokémons en base de données</p>
    <ul id="carte">
      @for (pokemon of pokemonsAffiches; track pokemon.id) {
        <li class="carte-detail">
          <img [src]="pokemon.image" alt=""/>
          <p>{{ pokemon.nom }}</p>
          <ul>
            <li>Catégorie: {{ pokemon.categorie }}</li>
            <li>Type: {{ pokemon.type }}</li>
            <li>Taille: {{ formaterNombreFR(pokemon.taille) }} m</li>
            <li>Poids: {{ formaterNombreFR(pokemon.poids) }} kg</li>
          </ul>
        </li>
      }
    </ul>
    <div class="pagination">
      @for (i of numerosDePage; track i) {
        <button (click)="pageSuivante(i)">{{ i }}</button>
      }
    </div>
  } @placeholder {
    <span>Chargement des pokémons...</span>
  }
</div>

