#app-pokemon {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

ul p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.25em;
}

#carte {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;
}
#carte img {
  height: 120px;
  object-fit: contain;
}
li {
  list-style-type: none;
  padding: .25em;
}

.carte-detail {
  border: 1px solid #f7f7f7;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  min-width: 22%;
  padding: 2em;
  box-shadow: 0px 7px 10px #e1e1e1;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 5em;
}
.pagination button {
  height: 32px;
  width: 32px;
}
